
/* Your CSS Code here. */


.box{
    height: 100px;
    width: 100px;
    margin: 2px;
}
.wrap>.box{
    width: 15%;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.red{
background-color: red;

}

.space{
    display: flex;
    justify-content: space-between;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}